# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysql]
default-character-set = utf8mb4


[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
 join_buffer_size = 512K
group_concat_max_len=1G
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#datadir=/var/lib/mysql

datadir=/data/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

#======= customer setting
federated
thread_stack = 10M

# SAFETY #
max-allowed-packet             = 1024M
max-connect-errors             = 1000000

# BINARY LOGGING #
server_id                      = 1
#log-bin                        = /data/logs/mysql-logs/bin-log
skip-log-bin
expire-logs-days              = 3
sync-binlog                    = 1
relay_log_recovery             = 1
relay-log                      = /data/logs/mysql-logs/relay-log
binlog_format                  = row
binlog-ignore-db=test
binlog-ignore-db=information_schema
binlog-ignore-db=mysql
replicate-ignore-db=test
replicate-ignore-db=information_schema
replicate-ignore-db=mysql
replicate-do-db=lq_nmw_union



# CACHES AND LIMITS #
tmp-table-size                 = 640M
max-heap-table-size            = 1280M
query-cache-type               = 0
query-cache-size               = 0
#max-connections                = 500
max-connections                = 2000
thread-cache-size              = 50
open-files-limit               = 65535
#open-files-limit               = 1024
table-definition-cache         = 1024
table-open-cache               = 2048

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
#innodb-buffer-pool-size        = 1G
innodb-buffer-pool-size        = 4G
innodb_buffer_pool_instances   = 1

# Disabling symbolic-links is recommended to prevent assorted security risks
sql-mode                       = "NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
#skip-name-resolve
skip-external-locking
init-connect                   = 'SET NAMES utf8'

# LOGGING #
log-error                      = /data/logs/mysql-logs/error.log
log-queries-not-using-indexes  = 1
#slow-query-log                = 1
#slow-query-log-file           = /data/logs/mysql-logs/slow.log
#general-log                   = 1
#general_log_file              = /data/logs/mysql-logs/general.log
#long_query_time               = 3
#
slow_query_log                = 1
slow_query_log_file           = /data/logs/mysql-logs/slow.log
long_query_time               = 3

#log_timestamps                 = system
